@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Active = "Role";
}

@model IEnumerable<PizzaShop.DAL.ViewModel.PermissionTypeViewModel>

<div class="container-fluid mt-4" id="permissions">
    <div class="row ps-4">
        <div class="col-4 h2 fw-bold gloabal-color">Permissions</div>
        <div class="col-8">
            <a asp-action="RoleView" asp-controller="RoleAndPermission" type="button"
                class="btn btn-add text-center text-white"
                style="background-color: white; border-color: #0565A0; float: right;">
                <i class="bi bi-chevron-compact-left gloabal-color"></i>
                <span class="user-button-name gloabal-color">Back</span>
            </a>
        </div>
    </div>
    <div class="row mt-3 ps-4">
        <div class="col">
            <form method="post" asp-action="UpdatePermission" asp-controller="RoleAndPermission">
                @* <input type="hidden" asp-for="@Model.ElementAt(0).permissionId"> *@
                @* <input type="hidden" asp-for="@Model.ElementAt(0).roleName"> *@
                <input type="hidden" name="@ViewData["RoleId"]">
                <div class="container-fluid bg-white pt-4 pb-4">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 w-25">
                                <input type="text" class="form-control ps-2 bg-light" placeholder=""
                                    value="@ViewData["RoleName"]" readonly>
                                <label for="floatingInput" class="ps-2 pb-3 p-3">Role</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input main-check" id="selectAllPermissions"
                                                        type="checkbox" value="" checked>
                                                </div>
                                            </th>
                                            <th scope="col">Permissions</th>
                                            <th scope="col">Can View</th>
                                            <th scope="col">Can Add/Edit</th>
                                            <th scope="col">Can Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            var permission = Model.ElementAt(i);
                                            <tr class="permission-row">
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input inner-check select-permission"
                                                            type="checkbox" value="" checked>
                                                    </div>
                                                </th>
                                                <td>@permission.permissionName</td>
                                                <input type="hidden" name="[@i].permissionName"
                                                    value="@permission.permissionName" />
                                                <input type="hidden" name="[@i].permissionId"
                                                    value="@permission.permissionId" />
                                                <input type="hidden" name="[@i].roleId" value="@permission.roleId" />
                                                <input type="hidden" name="[@i].permissionTypeId"
                                                    value="@permission.permissionTypeId" />
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input type="checkbox" class="form-check-input switch can-view"
                                                            name="[@i].canView" value="true" @(permission.canView ?
                                                        "checked" : "") />
                                                        <input type="hidden" name="[@i].canView" value="false" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input type="checkbox" class="form-check-input switch can-addedit"
                                                            name="[@i].canAddEdit" value="true" @(permission.canAddEdit ?
                                                        "checked" : "") />
                                                        <input type="hidden" name="[@i].canAddEdit" value="false" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input type="checkbox" class="form-check-input switch can-delete"
                                                            name="[@i].canDelete" value="true" @(permission.canDelete ?
                                                        "checked" : "") />
                                                        <input type="hidden" name="[@i].canDelete" value="false" />
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="5" class="text-end ">
                                                <button class="btn text-white gloabal-bg-color" id="saveButton"
                                                    type="submit">
                                                    Save</button>
                                                <a type="button" asp-action="RoleView"
                                                    asp-controller="RoleAndPermission" class="btn gloabal-color"
                                                    style="background-color: white; border-color: #0565A0;">Cancel</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/permission.js"></script>
